#history_box .history .big_img img {
  width: 100%;
}
#history_box .history .big_img .big_img_text {
  position: absolute;
  top: 51px;
  margin-top: 0.6rem;
  margin-left: 24px;
  color: #ffffff;
}
#history_box .history .big_img .big_img_text h1 {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
#history_box .history .big_img .big_img_text p {
  font-size: 0.5rem;
  line-height: 1.3rem;
  opacity: 0.7;
  padding: 0;
  margin-top: 0.2rem;
}
#history_box .history h2 {
  font-size: 1.5rem;
  padding: 3rem 10px 1.4rem;
}
#history_box .history p {
  padding: 0  10px;
  font-size: 1rem;
  line-height: 27px;
}
#history_box .history .history_text_box .col-xs-3 {
  padding-top: 3.6rem;
}
#history_box .history .history_text_box .col-xs-9 {
  padding-top: 2.9rem;
  padding-bottom: 2rem;
  line-height: 25px;
  font-size: 0.92rem;
}
#history_box .goodness {
  padding-top: 3rem;
}
#history_box .goodness .youShi h1 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem 0;
}
#history_box .goodness .youShi h2 {
  font-size: 1.3rem;
  line-height: 26px;
  padding-bottom: 0.4rem;
  font-weight: 500;
}
#history_box .goodness .youShi h3 {
  font-size: 0.5rem;
  line-height: 19px;
  font-weight: 200;
}
#history_box .goodness .youShi_logo {
  padding: 2rem 0 5rem;
}
#history_box .goodness .youShi_logo div {
  float: left;
  font-size: 13px;
}
#history_box .goodness .youShi_logo div img {
  width: 3.6rem;
}
#history_box .goodness .youShi_logo div div {
  margin: 1.6rem 0px 10px 3rem;
}
#history_box .goodness .youShi_logo div div p {
  height: 1.8rem;
  text-align: left;
  padding-top: 0.25rem;
}
#history_box .goodness .border_bottom_ccc {
  height: 1px;
}
#history_box .xian:after {
  display: block;
  position: absolute;
  left: 23%;
  content: " ";
  width: 1px;
  height: 180%;
  background: -webkit-linear-gradient(#ffffff, rgba(0, 0, 0, 0.5), #ffffff);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ffffff, rgba(0, 0, 0, 0.5), #ffffff);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ffffff, rgba(0, 0, 0, 0.5), #ffffff);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#ffffff, rgba(0, 0, 0, 0.5), #ffffff);
  /* 标准的语法 */
}
#history_box .dian {
  position: absolute;
  right: 0;
  margin-right: 11px;
  margin-top: 0.3rem;
  background-color: #ffffff;
  z-index: 100;
  display: inline-block;
  height: 7px;
  width: 7px;
  color: #000;
  border: 1px solid #FF1C4D;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
