@charset "utf-8";
.run_list_h:after {
  display: inline-block;
  position: absolute;
  content: " ";
  border-left: 1px solid #979797 ;
  height: 1.6rem;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}
.Selected {
  border-bottom: 2px solid #FF1C4D;
  color: #FF1C4D;
}
#pinPaiGuShi .run_list {
  overflow: hidden;
}
#pinPaiGuShi .run_list .run_list_h {
  position: absolute;
  z-index: 1;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  width: 15%;
  padding-left: 2.3%;
  background-color: #ffffff;
}
#pinPaiGuShi .run_list ul {
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  margin-left: 17.2%;
  overflow: hidden;
}
#pinPaiGuShi .run_list ul li {
  float: left;
  list-style: none;
  font-weight: 200;
  height: 100%;
  margin: 0 0.93rem;
}
#pinPaiGuShi .photo_box {
  margin-top: 2px;
  overflow: hidden;
}
#pinPaiGuShi .photo_box ul {
  text-align: center;
}
#pinPaiGuShi .photo_box ul li {
  display: none;
  float: left;
}
#pinPaiGuShi .photo_box ul li img {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}
#pinPaiGuShi .photo_box ul li:nth-child(1) {
  display: block;
}
